.DS_Store
_site/
.bundle/
.sass-cache/
Gemfile.lock
vendor/
#images_pub/
.idea
*.iml
node_modules
lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*
