---
layout: default
---

<div class="article-wrapper">
    <article>
        {% include article-header.html page=page link=false share=page.share %}
        <section class="post-content">
            {{ content }}
        </section>
        {% include article-footer.html page=page share=page.share %}
        <!-- 分享插件必须在 article 标签中否则无效 -->
        {% if site.duoshuo %}
        {% include share-duoshuo.html duoshuo_title=page.title duoshuo_url=page.url duoshuo_content=page.excerpt %}
        {% include duoshuo.html duoshuo_title=page.title duoshuo_url=page.url %}
        {% endif %}
    </article>
</div>
{% if site.disqus %}
<section class="comments">
    {% include disqus.html %}
</section>
{% endif %}
